<app-header [headerName]="'Rosheta'" [disableBack]="true"></app-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="ionViewWillEnter($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item>
        <ion-label>Open For Orders</ion-label>
        <ion-toggle [(ngModel)]="openForRequests" name="isCurrentAddress" (ionChange)="changePharmacyStatus()"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="openForRequests">
        <app-open-requests [that]="this" class="w-100"></app-open-requests>
    </ion-item>
    <ion-item lines="none">
        <ion-row class="w-100 my-2">
            <ion-col size="6">
                <ion-button routerLink="/pharmacy/requests-history" type="button" color="primary" >My Orders</ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button routerLink="/pharmacy/monthly-report" type="button" color="primary" >Monthly Report</ion-button>
            </ion-col>
        </ion-row>
    </ion-item>
</ion-content>
