<app-header [headerName]="'Pharmacies'"></app-header>


<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="ionViewWillEnter($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="scroll" padding>
        <app-search [inputs]="searchInputs" (onSearch)="searchItem()"
                    (onFormInitialized)="initForm($event)"></app-search>
        <ion-grid>
            <ion-row color="primary" class="ion-justify-content-between">
                <ion-col size-md="3" size-lg="3" size-xs="12" *ngFor="let item of list">
                    <ion-card>
                        <ion-card-content>
                            <ion-item class="ion-justify-content-center">
                                {{item.name}}
                            </ion-item>
                                <ion-item class="ion-justify-content-between">
                                    <ion-label>{{item.mobile}}</ion-label>
                                    <ion-label>{{item.addresses[0].governorateNameEn}}</ion-label>
                                    <ion-label>{{item.addresses[0].districtNameEn}}</ion-label>
                                </ion-item>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>

