<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content routerLink="/admin/categories" routerDirection="root">
      Categories
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content routerLink="/admin/products" routerDirection="root">
      Products
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content routerLink="/admin/accessories" routerDirection="root">
      Accessories
    </ion-card-content>
  </ion-card>
</ion-content>
