ion-content{
  --background: #fff url('../../../assets/images/login-bg.jpg') no-repeat center center / cover;
}
ion-button{
  --background: #062f77;
}
a{
  color: #3880ff;
}
.contentStyle{
  padding-top: 200px !important;
  text-align: center !important;
}