<ion-header>
  <ion-toolbar>
    <ion-title>All Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scroll" padding>
    <form #form="ngForm" (ngSubmit)="addCategory(form)">
      <ion-row color="primary" class="ion-justify-content-center ion-margin-top">
        <ion-col size-md="3" size-lg="3" size-xs="12">
          <ion-item>
            <ion-input name="nameEN" type="text" placeholder="Category Name English" ngModel required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-md="3" size-lg="3" size-xs="12">
          <ion-item>
            <ion-input name="nameAr" type="text" placeholder="Category Name Arabic" ngModel required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-md="2" size-lg="2" size-xs="4">
          <ion-button size="default" (click)="addCategory()" type="submit" color="success" [disabled]="form.invalid" expand="block">Add Category
          </ion-button>
        </ion-col>
        <ion-col size-md="2" size-lg="2" size-xs="4">
          <ion-button size="default" (click)="searchCategory()" type="submit" color="primary" expand="block">Search 
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-card class="card-padding ion-margin-top">
      <ion-list>
        <ion-item class="ion-text-center">
          <ion-label>Category ID</ion-label>
          <ion-label>Category English</ion-label>
          <ion-label>Category Arabic</ion-label>
        </ion-item>
        <ion-item-sliding *ngFor="let category of categories">
          <ion-item class="ion-text-center">
            <ion-label>{{category.id}}</ion-label>
            <ion-label>{{category.nameEn}}</ion-label>
            <ion-label>{{category.nameAr}}</ion-label>
            <ion-item-options side="end">
              <ion-item-option color="success" (click)="editCategory(category)">
                <ion-icon name="pencil-outline" class="ion-padding-horizontal"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="deleteCategory(category)">
                <ion-icon name="trash-outline" class="ion-padding-horizontal"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-card>
  </div>
</ion-content>