/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ng-wizard/themes/ng_wizard.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_circles.min.css';
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.header .col {
    background-color:lightgrey;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}

.ion-margin-top-min {
    --margin-top: var(--ion-margin, 8px);
    margin-top: var(--ion-margin, 8px);
}

.text-center {
    text-align: center;
}

.ng-wizard-container.tab-content, .btn-toolbar.ng-wizard-toolbar  {
    display: none !important;
}

.ng-wizard-theme-circles>ul.step-anchor>li {
    margin-left: 0px !important;
    width: 25% !important;
    justify-content: center;
    display: flex;
}
.ng-wizard-theme-circles>ul.step-anchor>li>a {
    width: 50px !important;
    height: 50px !important;;
    padding: 16px 0 !important;;
}

.ng-wizard-theme-circles>ul.step-anchor>li>a>small {
    white-space: nowrap;
    justify-content: center;
    display: flex;
    bottom: -25px !important;
}

.closed .ng-wizard-theme-circles>ul.step-anchor>li.done>a {
    border-color: red !important;
    background: red !important;
}

.font-size-21 {
    font-size: 21px !important;
}
