<ion-item lines="none">
    <div class="d-flex w-100">
        <div class="col-6 p-0">
            <ion-button color="light" class="ion-margin-top" horizontal="start" (click)="isHidden=!isHidden">
                <ion-icon color="primary" name="funnel"></ion-icon>
            </ion-button>
        </div>
        <div class="col-6 d-flex justify-content-end p-0">
            <ion-button class="ion-margin-top justify-content-end" horizontal="end" *ngIf="isAdd" color="light"
                        (click)="openAddModal()">
                <ion-icon color="primary" name="add"></ion-icon>
            </ion-button>
        </div>
    </div>
</ion-item>
<form #form="ngForm" class="search-form" (ngSubmit)="search()" [hidden]="isHidden">
    <ion-row color="primary" class="ion-justify-content-center">
        <ion-col size-md="12" size-lg="12" size-xs="12">
            <ion-item *ngFor="let item of inputs">
                <ion-label color="primary">{{item.name}}</ion-label>
                <ion-datetime [name]="item.key" *ngIf="item.type==='datetime'"
                              [displayFormat]="item.format" [(ngModel)]="item.defaultValue"
                              ngModel></ion-datetime>
                <ion-input [name]="item.key" type="text" *ngIf="item.type==='text'" ngModel></ion-input>
                <ion-select interface="action-sheet" [name]="item.key" ngModel *ngIf="item.type==='select'"
                            (ionChange)="item.callback()" (ionCancel)="resetValue(item.key)">
                    <ion-select-option *ngFor="let option of item.options" [value]="option.id">{{option['nameEn']}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col size-md="2" size-lg="2" size-xs="4">
            <ion-button size="default" type="button" color="success" (click)="search()">Search
            </ion-button>
        </ion-col>
        <ion-col size-md="2" size-lg="2" size-xs="4">
            <ion-button size="default" type="button" color="danger" (click)="clear()">Clear
            </ion-button>
        </ion-col>
    </ion-row>
</form>
