<ion-row class="filter">
    <ion-col (click)="isHidden=!isHidden" class="search" offset="6" size="5">
        <ion-icon name="filter-outline"></ion-icon>
        <ion-label> Filter Results</ion-label>
    </ion-col>
</ion-row>
<form #form="ngForm" class="search-form" (ngSubmit)="search()" [hidden]="isHidden">
    <ion-row color="primary" class="ion-justify-content-center">
        <ion-col size-md="12" size-lg="12" size-xs="12">
            <ion-item *ngFor="let item of inputs">
                <ion-label color="primary">{{item.name}}</ion-label>
                <ion-input [name]="item.name" type="text" *ngIf="item.type==='text'" ngModel></ion-input>
                <ion-select interface="action-sheet" [name]="item.key" ngModel *ngIf="item.type==='select'"
                    (ionChange)="item.callback()" (ionCancel)="resetValue(item.key)">
                    <ion-select-option *ngFor="let option of item.options" [value]="option.id">{{option['nameEn']}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col size-md="2" size-lg="2" size-xs="4">
            <ion-button size="default" type="button" color="success" (click)="search()">Search
            </ion-button>
        </ion-col>
        <ion-col size-md="2" size-lg="2" size-xs="4">
            <ion-button size="default" type="button" color="danger" (click)="clear()">Clear
            </ion-button>
        </ion-col>
    </ion-row>
</form>