.search{
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 20px;
    background-color: #3880ff;
    color: white;
    margin: 0 16px;
}
.filter{
    padding-top: 20px;
}
.search-form{
    margin: 8px;
    background-color: #3880ff52;
    border-radius: 10px;
}
