<app-header [headerName]="'Clients'"></app-header>

<ion-content>
  <div class="scroll" padding>
    <form #form="ngForm">
      <ion-row color="primary" class="ion-justify-content-center ion-margin-top">
        <ion-col size-md="3" size-lg="3" size-xs="12">
          <ion-item>
            <ion-input name="name" type="text" placeholder="Name" ngModel></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-md="3" size-lg="3" size-xs="12">
          <ion-item>
            <ion-input name="mobile" type="text" placeholder="Mobile" ngModel></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-md="3" size-lg="3" size-xs="12">
          <ion-item>
            <ion-label>Governorate</ion-label>
            <ion-select interface="action-sheet" name="governorateId" ngModel
                        (ionChange)="listDistricts()" (ionCancel)="resetValue('governorateId')">
              <ion-select-option *ngFor="let governorate of governorates" [value]="governorate.id">{{governorate.nameEn}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-md="3" size-lg="3" size-xs="12">
          <ion-item>
            <ion-label>District</ion-label>
            <ion-select interface="action-sheet" name="districtId" ngModel
                        (ionCancel)="resetValue('districtId')">
              <ion-select-option *ngFor="let district of districts" [value]="district.id">{{district.nameEn}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-md="2" size-lg="2" size-xs="4">
          <ion-button size="default" (click)="searchItem()" type="button" color="primary" expand="block">Search
          </ion-button>
        </ion-col>
      </ion-row>
    </form>

    <ion-card class="card-padding ion-margin-top">
      <ion-list>
        <ion-row color="primary" class="ion-justify-content-center ion-margin-top">
          <ion-col size-md="3" size-lg="3" size-xs="6" *ngFor="let item of list">
            <ion-item>
              {{item.name}}
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card>
  </div>
</ion-content>

